<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="appid" value="52fdc209-e8c1-4b56-b960-7690659774fa"/>
  <add key="clientsecret" value="ggwNC421+=]kqldWLABH68_"/>
</appSettings>
</configuration>