<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="url" value="https://login.microsoftonline.com/220089ff-1b38-434b-a3e7-700d2af82066/oauth2/v2.0/authorize"/>
    <add key="resourceid" value="869d53fc-8862-414d-b6b9-0a7d9ab29779"/>
    <add key="tenantid" value="220089ff-1b38-434b-a3e7-700d2af82066"/>
    <add key="clientId" value="869d53fc-8862-414d-b6b9-0a7d9ab29779"/>
    
  


  </appSettings>
</configuration>